<div class="ca-sitesheader">מכונות
	<div class="statusList-rightOpt" ng-click="dataShare.action('site')"><</div>
	<div class="statusList-leftOpt" ng-click=""></div>
</div><br />
<div class="statusList-info" ng-cloak>
    <div class="ca-siteslistitem" ng-repeat="machine in dataShare.get().machines">
		<div class="statusList-user">
			<div ng-click="descShow[machine.id]=!descShow[machine.id]">
				{{ machine.title }}
				<span ng-if="!descShow[machine.id]" class="ca-machinecount">{{machine.total}}</span>
				<div ng-if="descShow[machine.id]">
					<div class="ca-machinedrink" ng-repeat="drink in machine.drinks">
						<div class="ca-machinedrinkborder"><img class="ca-machinedrinkimg" ng-src="assets/drinks/{{drink.id}}.png" /><div class="ca-machinedrinklbl">{{drink.title}}</div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'pages/loader.html'"></div>