<div ng-cloak class="ca-sitesheader">התרעות
	<div class="statusList-rightOpt" on-touch="back"><img src="assets/back.png" /></div>
	<div class="statusList-leftOpt" ng-click=""></div>
</div><br />
<div class="ca-notifications" dir="rtl">
	<div class="ca-notificationsitem" ng-repeat="notification in dataShare.get().notifications">
		<img class="ca-notificationsitemimg" width="35" ng-src="assets/warning.png" />
		<div class="ca-notificationsiteml2">{{ notification.subtitle }}</div>
		<div class="ca-notificationsiteml">{{ notification.header }}</div>
	</div>
</div>
<div ng-include="'pages/loader.html'"></div>
