<div class="ca-sitesheader">פרטי אתר
    <!--<div class="statusList-leftOpt" ng-click="editMode=!editMode">{{(editMode)?"סיים":"ערוך"}}</div>-->
    <!--<div ng-class="{'statusList-rightOpt': true, 'highlight': dataShare.getSettings().permission_request}" class="statusList-rightOpt"><div ng-show="!editMode" ng-click="dataShare.action('permissions', 'permissions')">הרשאות</div></div>-->
	<div class="statusList-rightOpt" ng-click="dataShare.action('sites', 'ca-sites')"><</div>
	<div class="statusList-leftOpt" ng-click=""></div>
</div><br />
<div class="statusList-info" ng-cloak>
	<div>
		<div>שם האתר: {{dataShare.get().site.title}}</div>
		<div>זמינות: {{dataShare.get().site.avaliable}} פעימות
		({{dataShare.get().site.pvaliable}}%)</div>
	</div>
    <div class="ca-siteslistitem" dir="rtl" ng-repeat="machine in dataShare.get().machines"><div class="statusList-user"><span ng-click="dataShare.action('site', 'ca-site')">{{ machine.title }}<span style="margin-right:10px;font-size: 12px">{{user.info}}</span></span><div ng-if="editMode" class="statusList-delete" ng-click="removeUser(user)"><img src="assets/delete-user.png" /></div></div></div>
    <!--<div class="statusList-confirnBtn"><div ng-if='dataShare.getSettings().manager' class="message-btn" ng-click="approve()"><img src="assets/reports_confirm.png" /></div></div>-->
</div>
<div ng-include="'pages/errorMsg.html'"></div>
<div ng-include="'pages/loader.html'"></div>
