<div class="ca-sitesheader">פרטי אתר
	<div class="statusList-rightOpt" on-touch="back"><img src="assets/back.png" /></div>
	<div class="statusList-leftOpt" on-touch="optionsMenu"><img src="assets/options.png" /></div>
</div><br />
<div dir="rtl">
<div class="ca-sitename">
	<div class="ca-sitenametitle">שם האתר: </div>
	<div class="ca-sitenameval">{{dataShare.get().site.title}}</div>
</div>
<div class="ca-siteheader">מלאי באתר</div>
<div class="ca-sitestock">
	<div class="ca-sitestocktitle">סה"כ מלאי </div><div class="ca-sitestockval">{{dataShare.get().site.stock}} פעימות</div>
	<div class="ca-sitestocktitle">ניצול ממלאי </div><div class="ca-sitestockval">{{dataShare.get().site.used}} פעימות</div>
	<div class="ca-sitestocktitle">זמינות </div><div class="ca-sitestockval">{{dataShare.get().site.avaliable}} פעימות ({{dataShare.get().site.pvaliable}}%)</div>
</div>
<div class="ca-siteheader">תקלות</div>
<div class="ca-siteproblems">
	<div ng-if="dataShare.get().site.messages.length==0">אין תקלות ידועות</div>
	<div class="ca-siteproblemitem" ng-repeat="message in dataShare.get().site.messages"><div class="ca-siteproblemstitle">{{message.title}}</div>{{message.content}}</div>
</div>
<!--
<div class="ca-siteheader">מכונות</div>
<div class="ca-sitemachines">
	<div class="ca-sitemachinesitem" ng-repeat="machine in dataShare.get().machines">
		<div ng-click="descShow[machine.id]=!descShow[machine.id]">{{ machine.title }}
			<div ng-if="descShow[machine.id]" class="ca-sitemachinesitemdescr"> {{machine.descr}} </div>
		</div>
	</div>
</div>
-->
</div>
<div ng-include="'pages/ca-siteop.html'"></div>
<div ng-include="'pages/loader.html'"></div>
