<div class="report2-clander_page">
    <div dir="rtl" class="report2-calander_header">בחירת תאריכים</div>
    <div dir="rtl" class="report2-calander_label">בחר תאריך התחלה,<br>ולאחר מכן תאריך סיום או "המשך"</div>
    <!--<div>{{report_dates}}<br>{{highlightDays}}</div>-->
    <div style="width:80%;margin-left: 10%;margin-bottom: 20px;"><multiple-date-picker calendar-id="'fc1'" sunday-first-day="true" disallow-back-past-months="true" highlight-days="highlightDays" day-click="daySelected"/ /></div>
    <!--<div><md-button ng-disabled="report_dates.start_day==null" class="md-raised md-warn login-back" ng-click="showCalander=false; calanderBack();">המשך</md-button></div>-->
    <div class="report2-calander_btn" ng-disabled="report_dates.start_day==null" ng-click="calanderBack()"><img src="assets/continue.png" /></div>
</div>