<div class="statusList-header">ניהול הודעות
    <div class="statusList-leftOpt" ng-click="editMessage()">עדכן</div>
    <div class="statusList-rightOpt" ng-click="resetReaders()">אפס</div>

</div><br />
<div dir="rtl">
    <label class="messages_label">הודעה מתפרצת</label><br><textarea class="messages_text" rows="3"></textarea>
    <label class="messages_label">הודעת מערכת</label><br><textarea id="" class="messages_text" rows="11" ng-model="systemMessage"></textarea>
</div>
<div ng-include="'pages/footer2.html'"></div>
<div ng-include="'pages/loader.html'"></div>
