<div ng-cloak class="statusList-header">הרשאות
    <div class="statusList-leftOpt" ng-click="closePermissions(true)">אשר</div>
    <div class="statusList-rightOpt"ng-click="closePermissions(false)">בטל</div>
</div><br />
    <div class="statusList-info">
        <div class="statusList-users" dir="rtl" ng-repeat="user in dataShare.get().permissions">
            <div class="statusList-user">
                <div class="premmisions_switch" ng-click="switchPermission(user)"><label ng-class="{'yesno-switch': true, 'on': user.status}">&nbsp;</label></div>
                <div class="premmisions_user">{{user.name}}</div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'pages/footer1.html'"></div>
<div ng-include="'pages/loader.html'"></div>
